<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo app</title>
    <link rel="stylesheet" href="/app.css"> <!-- It is very important to use the "/app.css" and not just "app.css" (they are two different locations). -->
</head>
<body>