<h1>You fell in love with: <%= thingVariable.toUpperCase(); %></h1>

<% if(thingVariable.toLowerCase() === 'rusty') { %>
    <p>Good choice! Rusty is the best!</p>
<% } else { %>
    <p>Bad choice...</p>
<% } %>

<p>PS: This is the "love.ejs" file.</p>